[access]
	inheritFrom = craftbukkit-plugins
[project]
	state = active
	description = A CraftBukkit plugin to create golden anvils - anvils constructed with gold instead of iron, which allow players to bypass the 39L repair limit without being operators in creative mode as well as providing a 2L discount on all operations, at the cost of being much less durable than iron anvils.
[receive]
	requireChangeId = true
[submit]
	mergeContent = true
[access "refs/*"]
	owner = group CraftBukkit-Plugins Admins
	read = group Anonymous Users
	read = group Registered Users
